# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
dist
build

# Testing
coverage
.nyc_output
*.test.*
*.spec.*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editor
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Database (usar volume no Docker)
*.db
*.db-journal

# Misc
README.md
*.md
